ul .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
width: 100%;
    background-color: #f1f1f1;
    display: block;
    overflow: auto;
}
ul {    
list-style-type: none;
margin: 0;
padding: 0;
height: 100%;
background-color: #f1f1f1;
display: block;
overflow: auto;
border-radius: 10px;
}
li {
display: block;    
color: #000;
padding: 8px 16px;
text-decoration: none;
justify-content: center;
margin-top: 0px;
font-weight: 700;
/* display: flex;
justify-content: space-evenly; */
}
* {   
color: #000;
margin-top: 10px;
}
textarea{    
    color: #000;
}
.color {
    background-color: #e6e6e6;
}    
.k {
text-align: center;
}
p {
text-align: center;
background-color: #737373;
padding: 12px;
}
body {
 background: url(/images/146843.jpg); 
 background-color: #F3EBF6;
 background-size: cover;  
 background-repeat: no-repeat;
 font-family: 'Ubuntu', sans-serif;
}
li.ndx {
background-color: #737373;
font: black;
}
li.clck {
    background-color: #737373;
    color: black;
}
.colorOtherwise {
    background-color: white;
    border-radius: 20px;
}
h2 {
    padding: 20px;
}
a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #8C55AA;
    text-decoration: none
    }
h3#cal {
    padding: 7px;
    color: snow;
}
button {
    border-radius: 20px;
}